/* about_banner sec start here */

section.about_banner {
	padding: 50px 0;
}

section.about_banner .main_heading {
	padding-top: 96px;
}

.main_heading {
	text-align: center;
	padding: 18px 0;
	/* padding-top: 5rem; */
	margin-top: 20px;
}

p {
	color: #6d6d6d;
	font-family: "poppins_r";
	font-size: 13px !important;
}

/* about_banner sec end here */
/* aboutsec start here */
.aboutus {
	text-align: center;
}

/* aboutsec end here */
/* mission-sec start here */
section.mission-sec {
	padding: 85px 0;
}

.mission-information p {
	margin-bottom: 9px;
}

/* mission-sec end here */
@media (max-width: 991px) {
	section.mission-sec {
		padding: 30px 0;
	}

	section.mission-sec .row {
		flex-direction: column-reverse;
	}
}

@media (max-width: 575px) {
	p {
		font-size: 11px !important;
	}

	.about_banner {
		padding: 100px 0 20px !important;
	}

	.main_heading {
		text-align: center;
		padding: 8px 0 !important;
		margin-top: 0px;
	}

	.main_heading {
		text-align: left;
	}

	.aboutus {
		text-align: left;
	}
}