/* .contact-info-wrapper start here  */
.contact-info-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}
.main_heading {
	text-align: center;
	padding-top: 96px;
}
.email-contact h4 {
	color: #68482a;
	font-family: "Poppins";
	font-weight: 500;
}

.email-contact p {
	margin: 0;
	color: #6d6d6d;
	font-family: "poppins_r";
	font-size: 14px;
}

.email-contact {
	/* border-right: 1px solid #CACACA; */
	/* padding-right: 77px; */
	text-align: center;
	padding-left: 24px;
}

.office-loc {
	border: 0 !important;
}
.email-contact.contact-num {
	border-right: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
	padding: 0 79px;
}
/* contact-info-wrapper end here */
/* contact-form-wrapper start here  */
.contact-form-wrapper {
	padding: 100px 0;
}
label {
	display: block;
	margin: 0;
	color: #1f162c;
	font-family: "poppins_r";
	font-size: 14px;
}
.form-sub-btn {
	text-align: right;
	padding: 26px 0;
}
.form-sub-btn .btn {
	background-color: #68482a;
	border: transparent;
	font-size: 13px;
	width: 120px;
	padding: 9px 0;
	font-family: "Poppins";
	font-weight: 500;
	border-radius: 0 !important;
}

.contact-form .form-control::placeholder {
	color: #cfccd2;
	font-family: "poppins_r";
	font-size: 13px;
}
textarea.form-control.contact-control {
	resize: none;
	height: 132px;
	border-radius: 0 !important;
}
.form-control.contact-control {
	border-radius: 0 !important;
	border: 1px solid #68482a;
}
.this-form {
	padding: 10px 0;
}
.contact-form-heading h3 {
	color: #68482a;
	font-family: "poppins_r";
}
.map-wrapper {
	padding: 40px 0;
}
.map-wrapper iframe {
	width: 100%;
}
@media (max-width: 768px) {
	.contact-info-wrapper {
		display: block;
	}
	.contact-form-wrapper {
		padding: 60px 0 0px;
		display: block;
	}
	.main_heading {
		padding-top: 35px;
		padding-bottom: 20px;
	}
	.contact-info-wrapper .contact-num {
		padding: 0;
		border: 0;
		margin: 20px 0;
	}
	.contact-info-wrapper .email-contact {
		padding: 0;
	}
	.form-sub-btn .btn {
		width: 100%;
		padding: 15px 0;
	}
}
@media (max-width: 480px) {
	.contact-form-heading h3 {
		font-size: 17px;
		line-height: 27px;
	}
}
/* contact-form-wrapper end here  */
