.hading-wrapper.text-center h2 {
	font-size: 60px;
	color: var(--first-color);
	font-family: "bizantheum";
	font-weight: 400;
}
.hading-wrapper.text-center {
	margin: 69px 0;
}
div#accordion .card-header {
	background: transparent;
	border: none;
	/* padding: 21px 51px; */
	/* border-bottom: 3px solid #F9FCFF; */
	padding: 0;
}

.card-body {
	padding: 14px 14px !important;
	border-left: 1px solid #7a7a7a;
	border-right: 1px solid #7a7a7a;
	border-bottom: 1px solid #7a7a7a;
	position: relative;
}

.card-body p {
	color: #7c7c7c;
	font-family: "poppins";
	font-size: 18px;
	font-weight: 500;
}

.accordions {
	overflow: scroll;
	/* height: 349px; */
	margin-bottom: 10px;
}

.accordions::-webkit-scrollbar {
	display: none;
}

div#accordion .card {
	border-radius: 6px;
	border: none;
	margin-bottom: 10px;
}

div#accordion a.card-link {
	color: #000000;
	font-family: "poppins";
	font-size: 18px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}

div#accordion a.card-link i {
	color: #707070;
}
a.card-link[aria-expanded="true"] .fa-chevron-down::before {
	content: "\f077";
	font-size: 18px;
	font-weight: 700;
	/* padding: 2px 6px; */
	font-family: "FontAwesome";
}
.card {
	background-color: #ededef;
}

.payment-heading h4 {
	font-weight: 400;
	font-size: 16px;
	font-family: "montserrat";
	font-size: 22px;
	font-weight: 700;
	color: #262626;
}
.payment-heading {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	border-bottom: 1px solid #b4b4b4;
}
.payment-heading p a {
	color: #262626;
	font-weight: 500;
	font-size: 15px;
	font-family: "montserrat";
}
.payment-heading p {
	color: #262626;
	font-weight: 400;
	font-size: 15px;
	font-family: "montserrat";
}
.shipping-heading-detail h4 {
	color: #262626;
	font-weight: 700;
	font-size: 15px;
	font-family: "montserrat";
}
div#accordion .card-header label {
	width: 100%;
	display: flex;
	align-items: 28px;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	border: 1px solid #707070;
	padding: 20px 10px;
	margin: 0;
}
.john {
	color: #262626;
	font-weight: 700;
	font-size: 15px;
	font-family: "montserrat";
}
.john {
	color: #262626;
	font-weight: 500;
	font-size: 17px;
	position: absolute;
	font-family: "montserrat";
	left: 42px;
	top: 13px;
	border-left: 1px solid #707070;
	padding-left: 10px;
}
button.default {
	border: none;
	background: #0eb702;
	padding: 3px 12px;
	margin-right: 10px;
	color: #fff;
	font-size: 15px;
	font-family: "poppins";
	font-weight: 500;
}

div#accordion .card-header label input[name="occupation"] {
	accent-color: #68482a;
}
.card-body p {
	color: #b1b1b1;
	font-size: 13px;
	font-weight: 400;
	font-family: "poppins";
}
.card-body p i {
	color: #68482a;
	font-size: 21px;
	margin-right: 8px;
}
.card-body h4 {
	color: #b1b1b1;
	font-size: 15px;
	font-weight: 400;
	font-family: "poppins";
}
.card-body h4 i {
	color: #68482a;
	font-size: 21px;
	margin-right: 8px;
}
.card-body h5 {
	color: #b1b1b1;
	font-size: 15px;
	font-weight: 400;
	font-family: "poppins";
	margin-left: 25px;
}
button.default1 {
	border: none;
	background: #0eb702;
	padding: 3px 12px;
	margin-right: 10px;
	color: #fff;
	font-size: 15px;
	font-family: "poppins";
	font-weight: 500;
}
.btndefault {
	width: 100%;
	text-align: end;
	position: absolute;
	bottom: 28px;
	right: 28px;
	display: none;
}

.img-sweet-treat img {
	padding: 6px 3px;
	border-radius: 10px;
	background: #fff;
}
.para-heading h5 {
	margin: 0;
	margin-top: 6px;
	color: #656565;
	font-size: 15px;
	font-family: "poppins";
	font-weight: 500;
}
.para-heading p {
	color: #b1b1b1;
	font-size: 15px;
	font-family: "poppins";
	font-weight: 400;
}
.shipping-detail {
	background: #f2f2f2;
	padding: 27px 21px;
	margin-top: 27px;
}
.rates h5 {
	color: #1f162c;
	font-size: 18px;
	font-family: "poppins";
	font-weight: 600;
	margin: 19px 0 0 0;
	text-align: end;
}
.shipping h4 {
	color: #000000;
	font-size: 19px;
	font-family: "poppins";
	font-weight: 500;
}
.shipping-detail h4 {
	color: #000000;
	font-size: 20px;
	font-family: "poppins";
	font-weight: 700;
	margin-left: 0px;
}
.sweet-img-heading {
	margin-top: 20px;
	border-bottom: 1px solid #c7c7c7;
}
.total {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.total h4 {
	color: #000000;
	font-size: 20px;
	font-family: "poppins";
	font-weight: 600;
	margin-left: 0px;
}
.total-shipping h2 {
	font-family: "bizantheum";
	font-size: 30px;
	font-weight: 400;
	color: #000000;
	margin: 0;
}
.total-delivery {
	display: flex;
	justify-content: center;
	justify-content: space-between;
}
.total-delivery h4 {
	color: #656565;
	font-size: 17px;
	font-family: "poppins";
	font-weight: 400;
}
.sweet-img-heading3 {
	border-bottom: 1px solid #c7c7c7;
}
.inputWithIcon input {
	width: 100%;
	border: 1px solid #b8afaf;
	border-radius: -1px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
	height: 48px;
}
.inputWithIcon input::placeholder {
	font-size: 14px;
	color: #cfccd2;
	font-family: "poppins";
	font-weight: 400;
}
.inputWithIcon input:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 8px 0 var(--first-color);
}

.inputWithIcon input {
	padding-left: 47px;
	margin-top: 0;
	position: relative;
}
.inputWithIcon {
	position: relative;
	margin: 0px 0 17px 0px;
}
.inputWithIcon i {
	position: absolute;
	left: 6px;
	top: 6px;
	padding: 9px 8px;
	color: var(--first-color);
	transition: 0.3s;
	font-size: 22px;
}
.inputWithIcon img {
	position: absolute;
	left: 6px;
	top: 9px;
	padding: 9px 8px;
	color: #aaa;
	transition: 0.3s;
	font-size: 22px;
}
.inputWithIcon input:focus + i {
	color: var(--first-color);
}

.inputWithIcon.inputIconBg i {
	background-color: #aaa;
	color: #fff;
	padding: 9px 4px;
	border-radius: 4px 0 0 4px;
}
.inputWithIcon textarea#exampleFormControlTextarea1 {
	padding: 15px 39px;
	resize: none;
	height: 92px;
	border: 1px solid #b8afaf;
}
.inputWithIcon textarea#exampleFormControlTextarea1::placeholder {
	font-size: 14px;
	color: #cfccd2;
	font-family: "poppins";
	font-weight: 400;
}
.inputWithIcon textarea#exampleFormControlTextarea1:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 8px 0 var(--first-color);
}
.btn1 {
	border: 1px solid #b8afaf;
	color: #fff;
	background-color: white;
	padding: 10px 20px;
	border-radius: 0px;
	font-size: 15px;
	font-family: "poppins";
	font-weight: 500;
	width: 28%;
	background: var(--first-color);
}
.add-detail-btn {
	border: none;
	color: var(--first-color);
	padding: 10px 20px;
	border-radius: 0px;
	font-size: 15px;
	font-family: "poppins";
	font-weight: 500;
	width: 31%;
	background: #f2f2f2;
	cursor: pointer;
}
.form-wrapper {
	background: #f2f2f2;
	padding: 20px 20px;
	display: none;
}
.edit {
	text-align: end;
}
.openbtn {
	margin-top: 139px;
}
/* custom radio btn */

.cutom_radio_btn[type="radio"]:checked,
.cutom_radio_btn[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.cutom_radio_btn[type="radio"]:checked + label span.custom_radio,
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio {
	position: relative;
	padding-left: 0px;
	cursor: pointer;
	line-height: 20px;
	color: #000000;
	left: 20px;
	top: 16px;
}

.cutom_radio_btn[type="radio"]:checked + label span.custom_radio:before,
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio:before {
	content: "";
	position: absolute;
	left: 1px;
	top: 0px;
	width: 18px;
	height: 18px;
	border: 1px solid #0d0d0d;
	border-radius: 100%;
	background: #fff;
}
.cutom_radio_btn[type="radio"]:checked + label span.custom_radio:after,
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio:after {
	content: "";
	width: 10px;
	height: 10px;
	background: #68482a;
	position: absolute;
	top: 4px;
	left: 5px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.cutom_radio_btn[type="radio"]:checked + label span.custom_radio:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.main-row {
	margin-bottom: 1px;
	display: flex;
	align-items: center;
}

button.btn-radio {
	padding: 4px 14px;
	background: #e3dfdf;
	border: none;
	outline: none;
	margin-left: -28px;
	margin-top: 10;
}
button.btn-radio a {
	color: #0d0d0d;
	font-size: 15px;
	font-weight: 500;
	font-family: "poppins";
	text-decoration: none;
}

.the_row.left-row {
	margin-left: 30px;
}

.address_complete_section
	.all_adresses
	.single_address
	.address_start
	.detail_information_information
	.custom_check_box
	.for_the_label
	span {
	color: #1f2c35;
	font-size: 13px;
	font-weight: 500;
}

.address_complete_section
	.all_adresses
	.single_address
	.address_start
	.detail_information_information
	.custom_check_box
	.for_the_label
	span:not(:last-child) {
	padding-right: 10px;
}

.address_complete_section
	.all_adresses
	.single_address
	.address_start
	.detail_information_information
	.custom_check_box
	.for_the_label {
	position: relative;
}

.cutom_radio_btn[type="radio"]:checked + label .address_start {
	padding: 10px 0px;
	border: 2px solid #282828;
	background-image: url(../img/tablearrow.webp);
	background-repeat: no-repeat;
	background-position: right;
	background-position: 593px 28px;
}
.address_complete_section .all_adresses .add_new_address button.btn {
	text-transform: uppercase;
	padding: 11px 31px;
	font-size: 12px;
	letter-spacing: 1px;
	cursor: pointer;
}

.address_complete_section .all_adresses .add_new_address {
	padding-top: 23px;
}
.single_address label {
	display: flex;
	flex-direction: column;
}
.the_row {
	display: flex;
	flex-direction: column;
}
.img-wrapper img {
	margin: 4px 19px 8px 0px;
}
span.question {
	color: #000000;
	font-size: 9px;
	font-family: "poppins";
	font-weight: 400;
}
span.answer {
	color: #656565;
	font-size: 18px;
	font-family: "poppins";
	font-weight: 600;
}
.delete {
	text-align: end;
	margin: 4px 10px 0 0;
}
.delete i {
	color: #ff0007;
	font-size: 22px;
}
.address_start {
	border: 2px solid #707070;
}

.address_start {
	border: 2px solid #707070;
	padding: 10px 0px;
	margin-bottom: 19px;
}
.left-btn13 {
	text-align: end;
}
h4.detail {
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	color: #000000;
	margin: 19px 0;
}
.form-group12 label {
	position: relative;
	cursor: pointer;
}
.form-group12 label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid #1f162b;
	padding: 7px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
}
.form-group.check-wrapper {
	display: none;
}
.form-group12 input:checked + label:after {
	content: "";
	width: 9px;
	height: 9px;
	background: #68482a;
	position: absolute;
	top: 6px;
	left: 2px;
	left: 5px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.form-group12 input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.form-group12 label {
	position: relative;
	cursor: pointer;
}
.form-group1 select#exampleFormControlSelect1 {
	height: 48px;
	background-image: url(../img/selectarrow.webp);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
	background-position: 451px;
	color: #d4d4d4;
	font-size: 15px;
	font-family: "visby-med";
}
.inputWithIcon1 input {
	width: 100%;
	border: 1px solid #b8afaf;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
	height: 47px;
}
.inputWithIcon1 input::placeholder {
	font-size: 14px;
	color: #cfccd2;
	font-family: "poppins";
	font-weight: 400;
}
.inputWithIcon1 input:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 8px 0 var(--first-color);
}

.inputWithIcon1 input {
	padding-left: 17px;
}
.inputWithIcon1 {
	position: relative;
	margin: 0px 0 17px 0px;
}
.inputWithIcon1 i {
	position: absolute;
	left: 6px;
	top: 13px;
	padding: 9px 8px;
	color: var(--first-color);
	transition: 0.3s;
	font-size: 22px;
}
.inputWithIcon1 img {
	position: absolute;
	right: 6px;
	top: 14px;
	padding: 3px 6px;
	color: #aaa;
	transition: 0.3s;
	font-size: 22px;
	border: 2px solid #e8e8e8;
	border-radius: 6px;
}
.inputWithIcon1 input:focus + i {
	color: var(--first-color);
}

.inputWithIcon1 .inputIconBg i {
	background-color: #aaa;
	color: #fff;
	padding: 9px 4px;
	border-radius: 4px 0 0 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.img-wrapper1 img {
	position: absolute;
	right: 2px;
	top: 21px;
	padding: 3px 6px;
	color: #aaa;
	transition: 0.3s;
	font-size: 22px;
	border: none;
	border-radius: 6px;
}
.form-tabs.adderess-form h4 {
	border-top: 2px solid #d8d8d8;
	padding-top: 26px;
	font-size: 22px;
	font-family: "Poppins";
	font-weight: 700;
	color: var(--first-color);
	margin-bottom: 20px;
}
.form-group1 label {
	color: #1f162c;
	font-size: 15px;
	font-family: "poppins";
	font-weight: 400;
	margin: 0;
}

select#exampleFormControlSelect1::before {
	content: "\f078";
	font-family: "poppins";
	position: absolute;
	top: 0;
	right: -216px;
	width: 40%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
}
select#exampleFormControlSelect1 {
	border: none;
	outline: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	margin: 0;
	display: block;
	width: 100%;
	padding: 12px 55px 15px 15px;
	font-size: 14px;
	color: #714bb9;
}
.box {
	/* position: absolute; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	top: 9px;
	position: relative;
}
.box select {
	background-color: #ffff;
	color: #cfccd2;
	padding: 7px 0px 7px 10px;
	width: 100%;
	border: none;
	font-size: 15px;
	/* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #cfccd2;
	border-radius: 4px;
	height: 47px;
	font-family: "poppins";
	font-weight: 400;
}
.box::before {
	content: "\f078";
	font-family: "FontAwesome";
	position: absolute;
	top: 0;
	right: 0px;
	width: 16%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 45px;
	pointer-events: none;
	background: #f2f2f2;
	color: #000000;
}
button.btn13 {
	padding: 7px 32px;
	border-radius: 0px;
	color: var(--first-color);
	font-size: 14px;
	font-family: "poppins";
	font-weight: 500;
	background-color: var(--first-color);
	color: #fff;
	border: none;
	height: 43px;
	/* width: 28%; */
	cursor: pointer;
	text-align: center;
}
.left-btn13 {
	text-align: end;
}
.radio-wrapper {
	border-top: 1px solid #b4b4b4;
	padding-top: 12px;
}
.form-group-checkbox {
	display: block;
	margin-top: 20px;
	margin-bottom: 12px;
}

.form-group-checkbox input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.form-group-checkbox label {
	position: relative;
	line-height: 1;
	cursor: pointer;
}

.form-group-checkbox label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid #636060;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 8px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	/* background-image: linear-gradient( to bottom, #f8b329, #eca923, #e09f1e, #d59617, #c98c11); */
	margin-right: 5px;
}
.form-group-checkbox input:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	left: 6px;
	width: 7px;
	height: 12px;
	border: solid #f35f63;
	border-width: 0px 2px 2px 0px;
	transform: rotate(45deg);
}
.form-group-checkbox label span {
	color: #000000;
	font-size: 17px;
	font-weight: 400;
	margin-left: 5px;
	font-family: "montserrat_r";
}
.checkbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #b7b7b7;
	padding-top: 50px;
	margin: 50px 0px 80px 0px;
}
section.product-detail .modal-dialog {
	max-width: 50%;
	margin-top: 300px;
}

section.product-detail .modal-header button.btn-close {
	border: 0;
	background: transparent;
}
.modal-content {
	background-color: #f8f8f8;
}
.thanks {
	text-align: center;
}
section.product-detail .modal-body {
	padding: 40px 10px;
}
.thanks h4 {
	font-family: "bizantheum";
	font-size: 45px;
	font-weight: 400;
	margin-bottom: 30px;
	color: var(--first-color);
}
.thanks p {
	color: #6d6d6d;
	font-family: "poppins";
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 21px;
}
div#edittextmodal {
	background: #666666;
}
@media(max-width:1199px){
	.checkbox .left-btn13 button.btn13 {
		font-size: 12px;
		padding: 14px 10px;
	}
	section.product-detail .form-group-checkbox label span {
		color: #000000;
		font-size: 14px;
		font-weight: 400;
		margin-left: 5px;
		font-family: "montserrat_r";
	}
	.add-detail-btn {
		width: 40%;
		text-align: center;
	}
}