/* Category-sec start here */

section.category-sec {
	padding: 70px 0;
}
/* category-tab start here */

.category-tab .nav-tabs {
	border-bottom: 1px solid #68482a;
}
.category-tab .nav-link {
	padding: 7px 25px;
}
.category-tab .nav-tabs .nav-item {
	margin-bottom: 0px;
}
.category-tab .nav-tabs .nav-link {
	background-color: transparent !important;
	color: #b1b1b1 !important;
	font-family: "bizantheum";
	font-size: 25px;
}
.category-tab .nav-link.active {
	color: white !important;
	background-color: #68482a !important;
	border-color: transparent !important;
	border-radius: 0;
}
.category-tab .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	border-color: transparent;
}
.category-tab .nav-tabs button:focus {
	outline: none !important;
}
.category-cards {
	padding-top: 37px;
}
/* reponsive  */
/* category-tab end here */

/* category card start here */
.add-category {
	text-align: center;
	/* background-color: #68482A; */
	padding: 6px 0;
}
.add-category span {
	margin-bottom: 0;
	color: #ffffff;
	font-family: "poppins_r";
}
.category-img {
	position: relative;
	border: 5px solid transparent;
}
.category-img:hover {
	background-color: #68482a;
	/* padding: 6px 6px; */
	border: 5px solid #68482a;
}
.product-img {
	background: white !important;
}
.category-cards .card-body .main_heading h2 {
	font-size: 25px !important;
	margin: 0;
	line-height: 43px;
}

.category-cards .card-body {
	padding: 0;
}

.category-cards .card {
	border: 0;
}
section.category-sec .main_heading h2 {
	font-size: 59px;
}
.product-listing {
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
}
.category-product {
	margin: 10px;
}
section.category-sec a:hover {
	text-decoration: none !important;
}
.price {
	text-align: center;
}

.price h6 {
	margin: 0;
	font-size: 24px;
	font-family: "bizantheum";
	color: #68482a;
	font-weight: 400;
}
.all-productinfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px;
}
/* Category-sec end here */
/* responsive */
@media (max-width: 767px) {
	.category-sec .main_heading {
		padding-bottom: 10px;
	}
	.category-sec .main_heading h2 {
		padding-bottom: 10px;
	}
	.category-tab .nav-tabs .nav-item {
		width: 100%;
		margin-bottom: 2px;
		text-align: center;
	}
	.category-tab .nav-link {
		width: 100%;
	}
}
@media (max-width: 576px){
	.category-img {
		background-color: #68482a;
		/* padding: 6px 6px; */
		border: 5px solid #68482a;
	}
	.category-cards .card-body .main_heading h2 {
		font-size: 16px !important;
	}
	
	.price h6 {
		font-size: 14px !important;
	}
	
	.all-productinfo {
		padding: 0px 2px;
	}
	
	.add-category span {
		font-size: 10px;
	}
}
@media screen and (max-width: 580px) {
	.category-cards .card-body .main_heading h2 {
		line-height: 35px;
		padding: 0;
	}
	.category-sec .main_heading {
		padding-bottom: 0;
	}
	.category-tab .nav-tabs .nav-link {
		font-size: 15px !important;
		width: 100% !important;
		padding: 7px 4px !important;
	}
	.price h6 {
		font-size: 23px;
	}
}
@media (max-width: 480px) {
	section.category-sec {
		padding: 30px 0;
	}
}
