/* Font Family */
@import url("https://fonts.cdnfonts.com/css/sf-ui-display");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@font-face {
	font-family: "BelgethaRegular";
	src: url("../font/Belgetha\ Regular\ 400.ttf");
}

@font-face {
	font-family: "bizantheum";
	src: url("../font/Bizantheum-Font/bizantheum-font.otf");
}

@font-face {
	font-family: "poppins_r";
	src: url("../font/Poppins-Regular.ttf");
}

@font-face {
	font-family: "poppins_m";
	src: url("../font/Poppins-Medium.ttf");
}

@font-face {
	font-family: "montserrat_r";
	src: url("../font/Montserrat-Regular.ttf");
}

/* Universal Css Start Here */
:root {
	--first-color: #68482a;
}

/* .btn:hover {
	color: #68482a;
	box-shadow: #68482a 0 3px 8px;
	background: #fff !important;
	color: #68482a;
} */
.tuma-btn:hover {
	color: #68482a;
	box-shadow: #68482a 0 3px 8px;
	background: #fff;
	color: #68482a;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: "poppins_r";
	overflow-y: hidden;
}

a:hover {
	text-decoration: none;
}

p {
	font-size: 16px;
	font-family: "poppins_r";
}

button:focus {
	outline: none;
	outline: none;
}

h1 {
	font-family: "oriental";
	font-size: 111px;
	list-style: 121px;
}

h2 {
	font-family: "oriental";
	font-size: 56px;
	font-weight: 600;
	line-height: 66px;
}

h3 {
	font-size: 22px;
	font-weight: 400;
	line-height: 32px;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}

h5 {
	font-size: 13px;
	line-height: 23px;
}

a.tuma-btn {
	background-color: #68482a;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s;
	font-family: "poppins_m";
	border-radius: 0;
}

.double-mane-bar {
	margin-top: 55px;
}

.tuma-btn {
	background-color: #68482a;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s;
	font-family: "poppins_m";
	border-radius: 0;
}

figure {
	margin-bottom: 0;
}

.heading2 {
	font-family: "bizantheum";
	font-size: 50px;
	color: #68482a;
}

.main-heading-wrapper h2 {
	font-size: 4.3em;
	color: var(--first-color);
	text-align: center;
	font-family: "bizantheum";
	font-size: 84px;
}

.cssanimation,
.cssanimation span {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.cssanimation span {
	display: inline-block;
}

.leRotateYZoomIn span {
	animation-name: leRotateYZoomIn;
}

@keyframes leRotateYZoomIn {
	from {
		transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
		opacity: 0;
	}

	5% {
		transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg);
	}
}

/* Universal Css End Here */

/* Prelaoder */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #68482a;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #f2f2f2;
	border-top: 6px solid #c23127;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* header css starts here */
/* 
- Name: Responsive overlay menu framework
- Version: 1.0
- Latest update: 15.9.2015.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/

h3 {
	color: #e9e9e9;
	text-align: center;
	margin: 0;
	padding: 10px 0 0;
}

/* header css starts here */
header#header {
	padding: 18px 0px;
	position: relative;
}

.nav-item.overlay-item {
	padding: 1rem 0;
	border-bottom: 2px solid #705135;
}

header .nav-toggle-wrapper button {
	background: transparent;
	border: 0px;
	position: relative;
	top: 32px;
}

.logo-wrapper img {
	width: 180px;
	height: 100px;
	position: absolute;
	object-fit: cover;
	filter: brightness(0) invert(1);
	left: 7px;
}

.footer-1-content-wrapper img {
	width: 159px;
	height: 87px;
	object-fit: cover;
	filter: brightness(0) invert(1);
}

ul.social-links.d-flex {
	margin-left: 3px;
}

.cogit.py-right-wrapper p {
	margin-left: 90px;
}

/* .off-canvas-header-wrapper .row {
	padding-top: 200px;
} */

.off-canvas-header-wrapper button {
	position: absolute;
	right: 15%;
	top: 5%;
	background: transparent;
	border: 0px;
	color: #fff;
	font-size: 30px;
}

.off-canvas-header-wrapper button svg {
	cursor: pointer;
}

.navbar-item-wrapper ul li.for-responsive {
	display: none;
}

.navbar-item-wrapper ul li {
	display: block;
	text-align: center;
	padding: 2rem 0;
	border-bottom: 2px solid #705135;
	width: 100%;
}

.navbar-item-wrapper {
	width: 100%;
}

.off-canvas-header-wrapper li a {
	color: white;
	font-size: 60px;
	font-family: "bizantheum";
	text-decoration: none;
	text-transform: capitalize;
}

.off-canvas-header-wrapper ul {
	list-style: none;
	padding: 0px;
}

.nav-toggle-wrapper button img {
	cursor: pointer;
}

.off-canvas-header-wrapper {
	background: #68482a;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	height: fit-content;
	/* border-radius: 0px 0px 50px 50px; */
	z-index: 2;
	transform: translateY(-200%);
	transition: all 0.4s ease-in-out;
	height: 100%;
	overflow-y: scroll;
}
.open {
	transform: translateY(0%);
}

.close-header {
	position: absolute;
	right: 36px;
	top: 14px;
	left: 10vw;
	color: #fff;
	cursor: pointer;
	padding: 12px;
}

.for-logo {
	text-align: center;
	position: relative;
	margin-left: 100px;
}

.all-header-item {
	background: #68482a;
	height: 70px;
	padding: 15px 0px;
}

.side-num {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	height: 100%;
	cursor: pointer;
}

.cart-dot {
	position: absolute;
	top: -10px;
	right: 0;
}

.cart-img {
	position: relative;
	width: 36px;
}

.side-num .fa {
	font-size: 26px;
	color: white;
}

.search .fa {
	font-size: 26px;
	color: white;
}

.cart-icon img {
	width: 27px;
}

.side-num .cart-box svg {
	width: 24px;
}

.menu-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.profile-men img {
	width: 80%;
}

.for-logo img {
	width: 120px;
}

.header-bottom .icon-fb .fa {
	color: #68482a;
}

.header-bottom .icon-fb {
	background-color: white;
}

.header-bottom .footer-icons {
	justify-content: left;
}

.header-bottom {
	border-top: 2px solid white !important;
	padding: 10px 0 !important;
}

.header-bottom .footer-copyright-links li a {
	color: white !important;
	font-size: 20px;
}

.header-bottom .footer-copyright-links li.contact {
	border-right: 1px solid white;
	padding: 0 10px !important;
}

/* .profile-men img {
	width: 32px;
} */
.login-avatar img {
	width: 24px;
}

.profile-men span {
	color: white;
}

.nav-item {
	display: flex;
	align-items: baseline;
	background-color: #68482a;
	padding: 10px 0;
}

.spinner4.diagonal.part-1 .fa {
	color: white;
	font-size: 21px;
}

.spinner4.diagonal.part-1 {
	cursor: pointer;
}

.side-num img {
	width: 24px !important;
}

/* profile-dropdown */
.profilemen {
	/* display: flex; */
	position: relative;
	width: 48px;
}

.profilemen .btn {
	background: transparent;
	padding: 0;
	border: 0;
	position: absolute;
	bottom: 0;
	left: 1px;
	width: 40px;
	text-align: end;
	height: 40px;
	bottom: -6px;
}

.profilemen .dropdown-item {
	background: #68482a;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 13px;
	padding: 6px 15px;
	text-transform: capitalize;
}

.profilemen .dropdown-menu {
	padding: 0;
	width: 100px !important;
	min-width: unset;
	border: 0;
	left: -31px !important;
	will-change: transform !important;
	border-top: 1px solid transparent !important;
	top: -2px !important;
	z-index: 11;
}

.profilemen .show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background: transparent;
	border: 0;
}

.profilemen .show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: unset !important;
}

.profilemen .dropdown {
	position: unset;
	transform: translateY(-10px);
	transition: 0.5s all;
}

.profilemen .dropdown.show {
	transform: translateY(10px);
	transition: 0.5s all;
}

.profilemen .btn-secondary.focus,
.btn-secondary:focus {
	box-shadow: unset !important;
}

@media (max-width: 1100px) {
	.off-canvas-header-wrapper {
		height: 100%;
		overflow-y: scroll;
	}

	.navbar-item-wrapper ul li {
		padding: 1rem 0;
	}
}

@media (max-width: 991px) {
	.for-logo {
		margin-left: 0px;
	}

	.button-wrappers .btn-primary {
		width: 85px;
		font-size: 13px;
	}

	.side-num img {
		width: 17px !important;
		margin: 0 3px;
	}

	.side-num a img {
		display: none;
	}

	.side-num .cart-box {
		display: none;
	}

	.navbar-item-wrapper ul li {
		padding: 0.5rem 0;
	}

	.header-bottom .footer-copyright-links li.contact {
		padding: 0 5px !important;
	}

	.header-bottom .footer-copyright-links li a {
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.nav-item .side-num .button-wrappers {
		display: none;
	}

	.navbar-item-wrapper ul li.for-responsive {
		display: block;
	}
}

@media (max-width: 575px) {
	.side-num .fa {
		font-size: 15px;
		color: white;
	}

	.off-canvas-header-wrapper li a {
		font-size: 30px;
		line-height: 40px;
	}

	.profilemen img {
		width: 25px !important;
		margin-left: 15px;
	}

	.close-header {
		top: 7px;
		left: 50px;
	}

	.menu-wrapper .menu-btn label {
		margin: 5px 0 0 0;
	}

	.nav-item {
		align-items: center;
	}

	.profilemen .btn::after {
		display: none;
	}
}

/* header css ends here */
section.banner_secs {
	background-image: url(../img/giftbox-banner.webp);
	background-repeat: no-repeat;
	position: relative;
	/* top: 0; */
	height: 100vh;
	background-size: cover;
	/* padding: 17rem; */
	/* object-fit: cover; */
}

.banner_content {
	position: relative;
}

/* .banner_texts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -73px;
    position: absolute;
    top: 0;
    left: 0;
    /* padding-top: 197px; 
    right: 0;
    /* bottom: 0; 
} */
.banner_texts {
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding-top: 73px; */
	/* position: absolute; */
	/* top: 97%; */
	left: 0;
	padding: 197px 0;
	right: 0;
	/* bottom: 0; */
}

.banner_text {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_text p.pop_font {
	color: #fff;
	font-size: 22px;
	text-align: center;
	font-family: "poppins_r";
}

.main_heading h2 {
	font-family: "bizantheum";
	color: #68482a;
	font-weight: 400;
	font-size: 84px;
	line-height: 93px;
}

.main_heading {
	text-align: center;
}

.gift-btn a.btn.btn-primary {
	width: 245px;
	font-family: "BelgethaRegular";
	padding: 12px;
	font-size: 33px;
	color: #6e5033;
	/* color: #6E5033; */
	background-color: white;
	border: 0;
	/* font-size: 33px; */
	height: 66px;
}

.gift-btn a.btn.btn-primary:hover {
	background-color: #6e5033;
	color: white;
	font-size: 30px;
	padding: 12px;
	transition: 0.5s;
}

/* reponsive */
@media (max-width: 1280px) {
	.banner_texts {
		padding: 0px 0;
	}
}

@media screen and (max-width: 768px) {
	.main_heading h2 {
		font-size: 57px;
		line-height: 40px;
	}

	p {
		font-size: 13px;
	}
}

@media (max-width: 568px) {
	/* .main_heading h2 {
		font-size: 44px !important;
		line-height: 34px !important;
	} */
	.intro-sec .home_banner {
		position: absolute !important;
		top: 300px !important;
		right: 0;
		left: 0;
	}

	.intro-sec .main-heading-wrapper h2 {
		font-size: 3rem;
		line-height: 3rem;
	}

	.intro-sec section.banner_secs {
		padding: 18rem 0 !important;
	}
}

.cart-box {
	position: relative;
}

.profilemen img {
	width: 33px !important;
}

.cart-box h6 {
	background: red;
	position: absolute;
	top: -3px;
	right: -8px;
	border-radius: 40px;
	width: 12px;
	height: 12px;
	font-size: 8px;
	/* font-family: "sofiapro-light"; */
	/* color: #fff; */
	display: flex;
	align-items: center;
	justify-content: center;
}

/* banner css end here */

/* stayintounch banner start here */
.all-stay-banner .btn {
	width: 171px;
	border-radius: 0;
	padding: 10px;
	font-size: 15px;
	font-family: "poppins_r";
	background: #000000;
}

.all-stay-banner .btn:hover {
	background-color: #6e5033;
	color: white;
}

.all-stay-banner input {
	border: 1px solid #000000;
	border-radius: 0;
}

.all-stay-banner .main_heading {
	padding-bottom: 24px;
}

.stay-banner-content {
	background-color: #e1dad4;
	padding: 14px 30px 0 30px;
}

section.stayintouchsec {
	padding: 40px 0;
}

/* reponsive */
@media (max-width: 991px) {
	.all-stay-banner .btn {
		width: 90px;
		font-size: 12px;
	}
}

@media screen and (max-width: 768px) {
	.all-stay-banner .main_heading {
		padding-bottom: 0;
	}

	.all-stay-banner .btn {
		width: 132px;
		font-size: 14px;
	}

	p {
		font-size: 11px;
		margin: 7px;
	}

	.all-stay-banner .main_heading h2 {
		font-size: 41px;
		line-height: 49px;
	}
}

@media screen and (max-width: 580px) {
	.all-stay-banner input {
		font-size: 12px;
	}

	.all-stay-banner .btn {
		width: 88px;
		font-size: 11px;
	}

	.stayintouchsec .banner-girl-img {
		display: none;
	}

	.all-stay-banner .main_heading {
		padding-top: 0 !important;
	}

	.stay-banner-content {
		padding: 14px 10px 0 10px;
	}
}

/* stayintounch banner end here */
/* footer start here */
.icon-fb {
	display: inline;
	margin: 5px 10px;
	background-color: black;
	/* padding: 8px 10px 8px 10px; */
	border-radius: 31px;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
}

.icon-fb .fa {
	color: white;
}

.icon {
	display: flex;
	width: 20%;
	justify-content: center;
	border-bottom: 2px solid black;
	padding-bottom: 12px;
}

.all-footer-content {
	text-align: center;
	padding-bottom: 20px;
}

.about-footer {
	text-align: center;
	/* width: 226px; */
}

.about-footer p {
	color: #6d6d6d;
}

.footer-icons {
	padding-bottom: 25px;
	display: flex;
	justify-content: center;
}

.footer-links li {
	list-style: none;
	padding: 3px;
	display: inline;
}

.footer-links li a {
	color: black;
}

li.home {
	border-right: 1px solid black;
	padding: 0 14px;
}

.footer-bottm {
	border-top: 2px solid black;
	padding: 10px;
}

.footer-copyright-links li {
	display: inline;
	padding: 0 5px;
}

.footer-copyright-links li.contact {
	border-right: 1px solid #f0ca80;
	padding: 0 20px;
}

.footer-copyright-links li a {
	color: black;
}

.footer-copyright-links {
	text-align: right;
}

/* reponsive */
@media (max-width: 991px) {
	.footer-icons {
		justify-content: center !important;
	}

	.footer-copyright-links {
		text-align: center;
	}

	.icon {
		width: 30%;
	}
}

@media screen and (max-width: 768px) {
	footer a {
		font-size: 9px;
	}

	.icon-fb {
		padding: 8px 10px 8px 10px !important;
	}
}

@media (max-width: 575px) {
	.footer-bottm {
		border-top: 2px solid black;
		padding: 10px;
		text-align: center;
	}

	.footer-links li {
		display: block;
		border: 0;
	}

	.icon {
		width: 100%;
	}
}

/* footer end here */
.search-box {
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
	padding: 25px 0px;
	transition: 0.6s;
	transform: translateY(-150%);
}

.search-box.show {
	transform: translateY(0%);
	z-index: 9999;
	border: 1px solid;
	background: #68482a;
}

.search-box .form-group {
	display: flex;
	align-items: center;
	position: relative;
}

.search-box .form-group button {
	border: 0;
	background: transparent;
	position: absolute;
	right: 0;
	outline: none;
	padding: 10px 20px;
}

.search-box .form-group input {
	border-radius: 0;
	background: #fff;
	box-shadow: none;
}

.search-box .cancel {
	text-align: right;
	padding: 10px 0px;
}

.search-box .cancel svg {
	color: #000;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

@media (max-width: 1440px) {
	section.banner_secs {
		padding: 5rem;
	}
}

/* @media(max-width:1366px){
	section.banner_secs{
		padding: 20rem;
	}
} */
@media (max-width: 1280px) {
	section.banner_secs {
		padding: 19rem;
	}

	.main_heading h2 {
		font-size: 55px;
		line-height: 50px;
	}
}

@media (max-width: 1200px) {
	section.banner_secs {
		padding: 18rem;
	}
}

@media (max-width: 1100px) {
	section.banner_secs {
		padding: 16rem;
	}
}

@media (max-width: 768px) {
	section.banner_secs {
		padding: 16rem 10rem;
	}

	.banner_secs .banner_content {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 575px) {
	.banner_secs .banner_content .gift-btn {
		margin-top: 30px;
	}

	section.banner_secs {
		padding: 0rem 0;
	}

	.main_heading h2 {
		font-size: 35px;
		line-height: 45px;
	}
}

/* new btn */
.button-wrappers .btn-primary {
	background-color: white;
	border-color: transparent;
	color: #68482a;
	width: 127px;
	padding: 7px 0;
	font-family: "Poppins";
	font-weight: 500;
	text-transform: capitalize;
	border-radius: 0;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: transparent;
	border-top: #fff;
}
