.hading-wrapper.text-center h2 {
	font-size: 60px;
	color: var(--first-color);
	font-family: "bizantheum";
	font-weight: 400;
}
.hading-wrapper.text-center {
	margin: 69px 0 29px 0;
}
.table-wrapper .table thead {
	color: #cfccd2;
	background-color: #000000;
	border-radius: 0px;
	padding: 0 0;
}
.table-wrapper .table thead tr th {
	border-bottom: none;
	border-top: none;
	text-align: center;
	padding: 14px 30px;
	font-size: 18px;
	font-weight: 500;
	font-family: "poppins";
	color: #fff;
}
td.pais-color1 {
	color: #f12548 !important;
}
.table-wrapper1 .table tbody tr td i.fa.fa-times {
	font-size: 23px;
	color: #1f162c;
}
.table-wrapper1 .table tbody tr th {
	text-align: center;
	vertical-align: text-bottom;
	font-size: 14px;
	color: #343436;
	font-family: "poppins";
	font-weight: 400;
}

.table-wrapper1 .table tbody tr td {
	text-align: center;
	vertical-align: text-bottom;
	font-size: 17px;
	font-family: "poppins";
	color: #1f162c;
	border: none;
	padding: 30px 40px;
	font-weight: 700;
}
.table-wrapper1 .table thead {
	color: #cfccd2;
	background-color: #000000;
	border-radius: 0px;
	padding: 0 0;
}
.table-wrapper1 .table tbody tr td span img {
	border: 1px solid #e1e1e1;
	width: 110px;
	padding: 10px 0px;
}
.table-wrapper1 .table tbody tr {
	border-bottom: 1px solid #c7c7c7;
}
tr.borderbottom {
	border-bottom: none !important;
}
.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
	align-items: center;
	justify-content: center;
}
.pagination li.page-item {
	margin: 0px 8px;
}

.pagination .page-link {
	position: relative;
	display: block;
	padding: 11px 19px;
	margin-left: -1px;
	line-height: 1.25;
	color: #aaaaaa;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: 6px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	font-size: 22px;
	font-family: "poppins";
	font-weight: 500;
}
.page-link:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 5px 0 var(--first-color) !important;
}

.page-item:first-child .page-link {
	padding: 11px 26px !important;
	border-radius: 6px !important;
}
.page-item:last-child .page-link {
	padding: 11px 26px !important;
	border-radius: 6px !important;
}
a.page-link.pagelink-second span i {
	font-size: 25px;
}
a.page-link.active {
	background-color: var(--first-color);
	color: #fff;
	padding: 11px 21px;
}

.page-item.active .page-link {
	background-color: var(--first-color) !important;
	color: #fff !important;
	border: none !important;
	padding: 11px 21px !important;
}
.pagination {
	margin-bottom: 30px;
}
.btn1 {
	padding: 7px 22px;
	border-radius: 0px;
	color: var(--first-color);
	font-size: 14px;
	font-family: "poppins";
	font-weight: 500;
	background-color: var(--first-color);
	color: #fff;
	border: none;
	/* width: 130px; */
	height: 43px;
	cursor: pointer;
	margin-left: 30px;
}
button.btn1.cart-clear {
	background: transparent;
	border: 1px solid var(--first-color);
	color: var(--first-color);
}
button#button-addon2 {
	padding: 0px 33px;
	border: none;
}
.Subtotal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}
.subtotal-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.subtotal-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 130%;
}
.subtotal-wrapper h4 {
	font-size: 14px;
	font-weight: 400;
	color: #aeaeae;
	font-family: "poppins";
}
.input-group input {
	border: none;
}
.subtotal-wrapper.subtotal-wrapper1 h4 {
	color: #f12548;
	margin: 0;
	font-family: "poppins";
	font-weight: 500;
}
.subtotal-wrapper.subtotal-wrapper1 {
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	padding: 10px 0px;
}
section.whishlist {
	padding-bottom: 50px;
}
.firstorder-item {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}
.minus-box {
	/* height: 50%; */
	background-color: #f2f2f2;
	width: 31px;
	text-align: center;
}
.plus-box {
	height: 50%;
	background-color: #f2f2f2;
	width: 31px;
	text-align: center;
}

.numbers {
	height: 25px;
}
span.num {
	font-size: 14px;
}
.addition {
	height: 100%;
	/* background: #68482a; */
}
.qty-box span.plus {
	font-size: 15px;
}
.minus,
.plus {
	display: inline-block;
	/* width: 14px; */
	/* height: 15px; */
	/* background-color: #10101000; */
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.qty-box span.minus {
	font-size: 19px;
}

.num-add {
	width: 34px;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2;
}
.qty-box {
	/* zoom: 2; */
	display: flex;
	align-items: center;
	height: 100%;
	gap: 2px;
}
.qty-box .fa {
	color: black;
	font-size: 12px;
}
/* qty2 */
.qty-box span.pluss {
	font-size: 15px;
}
.minuss,
.pluss {
	display: inline-block;
	/* width: 14px; */
	/* height: 15px; */
	/* background-color: #10101000; */
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.qty-box span.minuss {
	font-size: 19px;
}
.btn-cart-wrapper {
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	background: #f2f2f2;
	padding: 40px 60px;
}
.input-group.mb-3 {
	width: unset;
}
.btn-dark {
	color: #fff;
	background-color: var(--first-color);
	border-color: none;
	border-radius: 0;
}
